[dir] .v-nav-menu .vs-sidebar .vs-sidebar--items {
    background: rgb(255, 255, 255) !important;
    background-image: none;
    background-image: linear-gradient(calc(360deg - 175deg), #fff 6%, #f8f8f8 130%) !important;
  }
.link-color {
    color: rgba(var(--vs-primary), 1);
}
table thead.vs-table--thead tr {
    background: #f0f0f0 !important;
}
[dir] .v-nav-menu .shadow-bottom{
  display: none !important;
}
.vs-sidebar--items .header-sidebar{
  border-bottom: solid 1px gray;
}
.vs__selected-options {
  display: contents;
}
d.vs-icon {
  font-size: 1.5rem !important;
}
.apexcharts-menu-icon{
  display: none !important;
}